---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"

const personalImageAlt = "Nacho Díaz"

---

<Layout
  title="Porfolio de Nacho Díaz - Desarrollador y Programador Web con 10 años de experiencia"
  description="Crea soluciones web tanto en frontend y backend. Aportando innovación y experiencia técnica a los equipos de desarrollo tecnológico"
>
  <main class="px-4">
    <SectionContainer class="py-16">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <SectionContainer id="aporte" class="py-16">
      <TitleSection>
      <Briefcase class="size-7" />
        Lo que puedo aportar
      </TitleSection>
      <ul class="flex flex-col gap-6 md:flex-row">
        <li class="flex flex-col gap-4">
          <ProfileCheck class="size-7" />
          <h3 class="text-lg font-semibold leading-6">Estrategia y optimización de producto</h3>
          <p class="text-gray-600 dark:text-gray-400">
            Aporto mi experiencia en el desarrollo de productos digitales para optimizar la estrategia y la toma de decisiones tecnológicas, asegurando la diferenciación en el mercado y el impacto en el negocio.
          </p>
        </li>
        <li class="flex flex-col gap-4">
          <CodeIcon class="size-7" />
          <h3 class="text-lg font-semibold leading-6">Desarrollo y mejora de interfaces</h3>
          <p class="text-gray-600 dark:text-gray-400">
            Diseño y optimizo experiencias digitales centradas en el usuario, asegurando que cada interacción sea efectiva, accesible y alineada con el propósito del producto.
          </p>
        </li>
        <li class="flex flex-col gap-4">
          <CodeIcon class="size-7" />
          <h3 class="text-lg font-semibold leading-6">Supervisión y validación de código</h3>
          <p class="text-gray-600 dark:text-gray-400">
            Reviso y optimizo código generado por IA o equipos de desarrollo, asegurando calidad, rendimiento y buenas prácticas en el proceso de construcción digital.
          </p>
        </li>
        <!-- <li class="col-span-1 flex flex-col gap-4">
          <Briefcase class="size-7" />
          <h3 class="text-lg font-semibold leading-6">Consultoría y mentoría tecnológica</h3>
          <p class="text-gray-600 dark:text-gray-400">
            Formo y asesoro equipos para que integren nuevas tecnologías sin perder el criterio técnico y estratégico en la construcción de productos digitales.
          </p>
        </li> -->
      </ul>
    </SectionContainer>
    <SectionContainer id="division" class="py-16 text-center">
      <div class="flex w-full justify-center items-center h-full gap-10">
        <div class="flex-1 h-full">
          <p class="text-6xl text-right font-bold text-gray-500 dark:text-gray-300">
            12 años, 2 países
          </p>
          <p class="text-6xl text-right font-bold text-gray-500 dark:text-gray-300">
            3 ciudades, 1 pueblo
          </p>
          <p class="text-6xl text-right font-bold text-gray-500 dark:text-gray-300">
            mismo planeta
          </p>
        </div>
        <div class="flex-1">
          <TitleSection>
            <ProfileCheck class="size-8" />
            Sobre mí
          </TitleSection>
          <AboutMe />
        </div>
      </div>
    </SectionContainer>
    <SectionContainer id="branding">
      <div class="bg-white py-14 sm:py-32">
        <div class="mx-auto max-w-1xl px-6 lg:px-8">
          <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Experiencia internacional en
            consultoría, marketing y publicidad</h2>
            <div class="mx-auto sm:flex justify-center align-center mt-10 items-center sm:max-w lg:max-w-2xl">
              <img class="max-h-12 w-full object-contain " src="https://nachodiaz.me/wp-content/uploads/2023/08/logoRTVE.png" alt="Transistor" width="165" height="48">
              <img class="max-h-9 mt-5 mb-7 w-full object-contain " src="https://www.indracompany.com/sites/all/themes/custom/indracompany_bs/logo.png" alt="Reform" width="165" height="44">
              <img class="max-h-8 w-full object-contain " src="https://raya.cl/wp-content/themes/raya/dist/img/logo-raya-dark.webp" alt="SavvyCal" width="165" height="42">
            </div>
          <h3 class="text-center text-sm text-gray-900 font-semibold mt-10 ">Santiago de Chile, Madrid y Barcelona
          </h3>
        </div>
      </div>
    </SectionContainer> 
    
    <SectionContainer id="trayectoria">
      <div class="sm:py-8">
        <div class="mx-auto max-w-1xl">
          <TitleSection>
            <CodeIcon class="size-7" />
            Mi trayectoria
          </TitleSection>
            <ul class="flex flex-col w-full gap-10 md:flex-row justify-center mx-auto">
              <li class="flex flex-col w-1/2 grow-1 gap-4">
                <p class="text-lg font-semibold leading-8 text-gray-900">12 años de experiencia en desarrollo web</p>
                <p class="mt-1 text-lg leading-7 text-gray-600 dark:text-gray-300">
                  Desarrollo Frontend Senior con experiencia en React, JavaScript, HTML y CSS, asegurando la creación de interfaces
                  intuitivas, accesibles y de alto rendimiento.
                </p>
              </li>
              <li class="flex flex-col w-1/2 grow gap-4">
                <p class="text-lg font-semibold leading-8 text-gray-900">Experiencia en backend con Node.js, PHP y WordPress</p>
                <p class="mt-1 text-lg leading-7 text-gray-600 dark:text-gray-300">
                  Permitiendo desarrollar soluciones integrales que conectan el frontend con sistemas robustos y escalables.
                </p>
              </li>
            </ul>
            <ul class="flex flex-col w-full gap-10 md:flex-row justify-center mx-auto py-10">
              <li class="flex flex-col w-1/2 grow gap-4">
                <p class="text-lg font-semibold leading-8 text-gray-900">Liderazgo técnico en la implementación de componentes interactivos</p>
                <p class="mt-1 text-lg leading-7 text-gray-600 dark:text-gray-300">
                  Narrativas digitales e infografías dinámicas, optimizando la experiencia de usuario y el storytelling visual.
                </p>
              </li>
              <li class="flex flex-col w-1/2 grow gap-4">
                <p class="text-lg font-semibold leading-8 text-gray-900">Optimización de flujos de trabajo con IA y automatización</p>
                <p class="mt-1 text-lg leading-7 text-gray-600 dark:text-gray-300">
                  Mejorando la eficiencia en la entrega de proyectos y asegurando la calidad del código generado.
                </p>
              </li>
            </ul>
            <ul class="flex flex-col w-1/2 gap-10 md:flex-row justify-start mb-10">
              <li class="flex flex-col grow gap-4">
                <p class="text-lg font-semibold leading-8 text-gray-900">Colaboración con equipos globales</p>
                <p class="mt-1 text-lg leading-7 text-gray-600 dark:text-gray-300">
                  Aportando una visión amplia y estratégica en la creación de productos digitales.
                </p>
              </li>
            </ul>
        </div>
      </div>
    </SectionContainer>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Últimos Proyectos
      </TitleSection>
      <Projects />
      <div class="my-10 sm:py-1">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:text-center">
            <a
              target="_blank"
              href={"https://nachodiaz.me/developer/"}
              role="link"
              class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
          >
              Ver más trabajos
          </a>
          </div>
        </div>
      </div>
    </SectionContaine>
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
      <div class="sm:py-1">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:text-center">
            <a
              target="_blank"
              href={"https://www.linkedin.com/in/sonidiaz"}
              role="link"
              class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
          >
              Ver toda mi expeciencia
          </a>
          </div>
        </div>
      </div>
    </SectionContainer>
  </div>
  </main>
</Layout>
