

<article class="flex flex-col items-left justify-center gap-8 text-gray-700 dark:text-gray-300">

  <h2 class="text-4xl font-bold tracking-tight text-left text-gray-800 sm:text-5xl dark:text-white">Hola, soy Nacho</h2>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-black-500 dark:[&>p>strong]:text-black-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 text-left"
  >
    <p>
      Llevo más de 10 años desarrollando productos digitales, con base técnica en frontend y experiencia de usuario. A lo largo de este recorrido trabajé en distintos países y contextos —como <span class="font-semibold">Santiago de Chile</span>, <span class="font-semibold">Madrid</span> y <span class="font-semibold">Barcelona</span>—, lo que me dio una fuerte capacidad de adaptación, escucha y colaboración.
    </p>

    <ul class="max-w-3xl mx-auto bg-white list-disc list-inside space-y-3 text-gray-700">
      <li>
        Combino mi experiencia técnica con una mirada más estratégica.
      </li>
      <li>
        Ayudo a alinear visión, equipo y producto para que las ideas se concreten de forma clara.
      </li>
      <li>
        Cuido tanto el proceso como el resultado.
      </li>
      <li>
        Me interesa trabajar en entornos donde la tecnología tenga propósito.
      </li>
      <li>
        Valoro el trabajo en equipo tanto como el impacto final.
      </li>
    </ul>
  </div>
</article>
