

<article class="flex flex-col items-left justify-center gap-8 text-gray-700 dark:text-gray-300 mb-8">

  <h2 class="text-4xl font-bold tracking-tight text-left text-gray-800 sm:text-5xl dark:text-white">Hola, soy Nacho</h2>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-black-500 dark:[&>p>strong]:text-black-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 text-left"
  >
    <p>
      Desde 2008 he recorrido la evolución del mundo digital, desde Flash al fullstack y hoy a la IA aplicada a productos. 
    </p>
    <p>
      He trabajado en Chile y España, lo que me dio adaptabilidad y visión colaborativa. Combino experiencia técnica y mirada estratégica para transformar ideas en productos claros, útiles y que entregen valor a las personas.
    </p>
  </div>
</article>
