

<article class="flex flex-col items-left justify-center gap-8 text-gray-700 dark:text-gray-300">

  <h2 class="text-4xl font-bold tracking-tight text-left text-gray-800 sm:text-5xl dark:text-white">Hola, soy Nacho</h2>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-black-500 dark:[&>p>strong]:text-black-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 text-left"
  >
    <p>
      Empecé en 2008 creando experiencias digitales en Flash y he evolucionado junto con la tecnología: del frontend clásico al full stack, y ahora hacia la inteligencia artificial aplicada a productos digitales.
      </p>
      <p>
        He trabajado en distintos países y contextos, lo que me dio adaptabilidad y capacidad de colaboración. En mi última etapa en RTVE lideré el desarrollo de un sistema para integrar componentes interactivos en noticias, alineando visión editorial, técnica y de usuario.
      </p>
      <p>
        Hoy combino mi experiencia técnica con una mirada estratégica: ayudo a cohesionar equipos, negocio y usuarios para transformar ideas en productos claros, útiles y con propósito.
    </p>

    <!-- <ul class="max-w-3xl mx-auto bg-white list-disc list-inside space-y-3 text-gray-700">
      <li>
        Combino mi experiencia técnica con una mirada más estratégica.
      </li>
      <li>
        Ayudo a alinear visión, equipo y producto para que las ideas se concreten de forma clara.
      </li>
      <li>
        Cuido tanto el proceso como el resultado.
      </li>
      <li>
        Me interesa trabajar en entornos donde la tecnología tenga propósito.
      </li>
      <li>
        Valoro el trabajo en equipo tanto como el impacto final.
      </li>
    </ul> -->
  </div>
</article>
