

<article class="flex flex-col items-left justify-center gap-8 text-gray-700 dark:text-gray-300">

  <h2 class="text-4xl font-bold tracking-tight text-left text-gray-800 sm:text-5xl dark:text-white">Hola, soy Nacho</h2>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-black-500 dark:[&>p>strong]:text-black-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1 text-left"
  >
    <p>
      Empecé mi camino en 2008, creando experiencias digitales en Flash, cuando la web todavía estaba en plena transición hacia lo interactivo. Desde entonces he evolucionado junto con la tecnología, pasando del frontend clásico al ecosistema actual de frameworks y APIs, ampliando mi perfil hacia full stack con backend e infraestructura, y ahora más recientemente, la inteligencia artificial aplicada a productos digitales.
      </p>
      <p>
      A lo largo de más de 10 años trabajé en distintos países y contextos —Santiago de Chile, Madrid y Barcelona—, lo que me dio una gran capacidad de adaptación, escucha y colaboración.
      </p>
      <p>
      Mi última etapa en <b>RTVE</b> consolidó esa trayectoria: lideré el desarrollo de un producto interno que permitió la inserción de componentes interactivos en noticias digitales, alineando visión editorial, necesidades técnicas y experiencia de usuario.
    </p>
    <p>
      Hoy combino mi base técnica con una mirada estratégica: ayudo a cohesionar equipos, usuarios y negocio para transformar ideas complejas en productos claros, útiles y escalables. Me interesa trabajar en entornos donde la tecnología tenga propósito, y donde el proceso sea tan valioso como el resultado final.
    </p>

    <!-- <ul class="max-w-3xl mx-auto bg-white list-disc list-inside space-y-3 text-gray-700">
      <li>
        Combino mi experiencia técnica con una mirada más estratégica.
      </li>
      <li>
        Ayudo a alinear visión, equipo y producto para que las ideas se concreten de forma clara.
      </li>
      <li>
        Cuido tanto el proceso como el resultado.
      </li>
      <li>
        Me interesa trabajar en entornos donde la tecnología tenga propósito.
      </li>
      <li>
        Valoro el trabajo en equipo tanto como el impacto final.
      </li>
    </ul> -->
  </div>
</article>
