---
const personalImageAlt = "Nacho Díaz"
---

<div class="lg:max-w-[50%] mx-auto md:mt-16">
  <div class="w-full">
    <div class="flex w-full md:flex-row flex-col md:justify-center mx-auto md:items-center mb-8 gap-12">
      <div class="flex w-[100%] flex-col md:text-center md:items-center md:justify-center">
        <h1 class="md:text-7xl/[.96] text-5xl/[.9] font-black tracking-normal text-gray-700 dark:text-white pt-2"><b class="text-gray-600">Soluciones</b> digitales honestas que <b class="text-gray-600">conectan</b> tecnología con <b class="text-gray-600">personas</b></h1>
        <h3
          class="mt-6 text-xl md:text-2xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
        >
        Convirtiendo ideas en productos que funcionan y entregan valor
        </h3>
        <a href="/contacto" class="w-fit mt-8 hover:bg-gray-700 md:inline-block bg-yellow-500 text-white px-4 py-2 rounded-md">
          ¿Te puedo ayudar?
        </a>
      </div>
      
      
      <!-- <img  
        src="/26dd2663-e2b2-4096-bbb9-d1901ea33cdc.jpg" 
        alt={personalImageAlt} class="order-1 object-cover w-full md:w-[40%] h-full p-1 md:order-2 rounded-xl top-0 md:top-[13rem] lg:top-0 relative" style=""> -->
    </div> 
  </div> 
</div>
