---
const personalImageAlt = "Nacho Díaz"
---

<div class="w-full">
  <div class="w-full">
    <div class="flex w-full sm:flex-row flex-col justify-start mx-auto items-center gap-20 mb-8">
      <div class="flex md:w-[60%] flex-col">
        <h3 class="text-2xl font-bold tracking-tight text-gray-600 dark:text-white pt-2 pb-4">Estrategia / Implementación / Cohesión</h3>
        <h1 class="md:text-8xl/[.8] text-5xl/[.8] font-black tracking-normal text-gray-800 dark:text-white pt-2">TECNOLOG<span class="text-gray-600 font-black">ÍA</span></h1>
        <h1 class="md:text-8xl/[.8] text-5xl/[.8] font-black tracking-normal text-gray-800 dark:text-white pt-2">PERSONAS </h1>
        <h1 class="md:text-8xl/[.8] text-5xl/[.8] font-black tracking-normal text-gray-800 dark:text-white pt-2">RESULTADOS </h1>
        <h2 class="text-4xl font-bold tracking-tight text-gray-800 dark:text-white pt-7"> para crear soluciones digitales con impacto en negocio y sociedad.</h2>
        <h3
          class="mt-6 md:w-[80%] text-2xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
        >
        Aporto experiencia técnica, criterio estratégico y capacidad de colaboración para transformar ideas en productos claros, útiles y escalables.
        </h3>
      </div>
      <img width="200" height="200" src="https://wordpress-845979-2915621.cloudwaysapps.com/wp-content/uploads/2023/08/26dd2663-e2b2-4096-bbb9-d1901ea33cdc.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-black-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
      <a href="https://www.linkedin.com/in/sonidiaz/" target="_blank" class="inline-block sm:hidden bg-gray-800 text-white px-4 py-2 rounded-md">
        Conectamos por <span class="text-gray-100 font-bold">LinkedIn</span>
      </a>
    </div> 
    <a href="https://www.linkedin.com/in/sonidiaz/" target="_blank" class="hover:bg-gray-700 hidden md:inline-block bg-gray-800 text-white px-4 py-2 rounded-md">
      ¿Conectamos por <span class="text-gray-100 font-bold">LinkedIn?</span>
    </a>
  </div> 
</div>
