---
const personalImageAlt = "Miguel Ángel"
---

<div class="w-full">
  <div class="w-full">
    <div class="flex w-full sm:flex-row flex-col justify-start mx-auto items-center gap-20">
      <div class="flex md:w-[60%] flex-col">
        <h1 class="text-3xl font-bold tracking-tight text-gray-800 dark:text-white pt-2">Integro IA, desarrollo y visión de producto para construir soluciones honestas.</h1>
        <h2
          class="mt-6 md:w-[80%] text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
        >
        Aporto experiencia técnica, empatía y criterio para ayudar a equipos a crear productos coherentes, útiles y sostenibles.
        </h2>
      </div>
      <img width="200" height="200" src="https://nachodiaz.me/wp-content/uploads/2023/08/26dd2663-e2b2-4096-bbb9-d1901ea33cdc.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-black-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
    </div> 
  </div> 
</div>
