---
const { class: className, id, fullWidth } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-20 w-full mx-auto ${!fullWidth ? 'lg:max-w-6xl md:max-w-2xl' : ''}`}
>
  <slot />
</section>
